.airports {
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.airports h1,
.airports_list {
  padding: 20px;
}

.airports_input {
  display: flex;
  width: 100%;
  padding: 10px 20px;
}

.airports_input label {
  width: 100%;
  display: flex;
  align-items: center;
}

.airports_input label input {
  color: var(--mainFC);
  border: 1px solid transparent;
  border-bottom: 1px solid var(--hoverColor);
  background: none;
  display: block;
  max-width: 300px;
}

.airports_input label input:focus {
  border-bottom: 1px solid var(--mainFC);
  outline: none;
}

.airports_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}