.search_container {
  width: 100%;
  position: relative;
}

.search {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid var(--mainFC);
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.search:hover {
  border: 1px solid var(--hoverColor);
}

.search:focus {
  border: 1px solid rgb(180, 70, 70);
}

.search img {
  fill: var(--mainFC);
}

.drop-menu {
  position: absolute;
  width: 100%;
  list-style: none;
  max-height: 300px;
  overflow-y: scroll;
  cursor: pointer;
  border-radius: 5px;
  background: var(--backgroundC);
  margin-top: 5px;
  border: 1px solid var(--mainFC);
}

.drop-menu li a {
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.drop-menu li a:hover {
  border-bottom: 1px solid var(--mainFC);
}

.drop-menu li a p {
  margin-right: 5px;
}

.drop-menu li a img {
  height: 20px;
}