.country_info {
  width: 100%;
  border-radius: 5px;
  border-top: none;
  box-shadow: var(--shadow);
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.country_info_main {
  display: flex;
}

.country_info_main img {
  height: 40px;
  margin-left: 5px;
}

.country_info_2 {
  display: flex;
  justify-content: space-between;
}

.country_info_2 ul {
  list-style: none;
  margin-top: 10px;
  padding: 0 50px;
  max-width: 40%;
}

.country_info_2 ul li,
.border_countries span {
  padding: 5px 0;
  font-weight: 700;
}

.country_info_2 ul li span,
.border_countries span span {
  font-weight: 400;
}

.border_countries {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.border_countries a {
  display: inline-flex;
  justify-content: center;
  min-width: 80px;
  padding: 5px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.border_countries a:hover {
  box-shadow: 0 0 4px 5px rgba(155, 176, 219, 0.07);
  transition: ease-in 0.2s;
}

@media (max-width:800px) {
  .country_info_2 ul {
    max-width: unset;
  }
}

@media (max-width:500px) {
  .country_info_2 {
    flex-direction: column;
    justify-content: unset;
  }

  .country_info_2 ul {
    margin-top: 0;
    padding: 0;
  }
}