body {
  display: flex;
  margin: 0 auto;
  background: var(--backgroundC);
}

#root {
  min-height: 100svh;
  margin: 0 auto;
}

main {
  max-width: 1200px;
  min-height: 600px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: var(--mainFC);
  margin: calc(15px * var(--scaleFactor)) 0;
  padding: 10px;
}