:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --scaleFactor: 1.5;
  --minFS: calc(11px * var(--scaleFactor));
  --h1: calc(var(--h2) * var(--scaleFactor));
  --h2: calc(var(--minFS) * var(--scaleFactor));
  --backgroundC: linear-gradient(90deg, rgb(35, 39, 70) 20%, rgb(31, 30, 23) 100%);
  --mainFC: #dbd2d2;
  --hoverColor: rgb(61, 59, 59);
  --shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--mainFC);
  font-size: var(--minFS);
}

@media (max-width:550px) {
  :root {
    --scaleFactor: 1.4;
  }
}

@media (max-width:350px) {
  :root {
    --scaleFactor: 1.3;
  }
}